body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 16px;
    
}

h2 {
    font-size: 24px;
    font-weight: bold;
}

.dashboard-header {
    background-color: black;
    color: white;
    height: 50px;
    text-align: center;
    font-size: 40px;
}

.forecast-h2 {
    padding-left: 20px;
    font-size: 20px;
    font-weight: bold;
}


.search-list {
    margin-top: 20px;
    width: 320px;
    height: 500px;
    position: relative;
    display: block;
    margin: 0 auto;
    
}

ul {
    position: absolute;
    width: 20rem;
    padding-inline-start: 0px;
    margin: auto;
}

li {
    list-style-type: none;
    margin: 10px;
    padding: 10px;
    border: 1px solid lightgray;
    width: 100%;
    margin: auto;

}


 .forecast {
   margin-top: 40px;
    
} 


.city-name, .temperature, .humidity, .wind-spead, .uv-index {
    margin: 10px;
}

.city-name {
    position: relative;
    font-size: 20px;
    font-weight: bold;
}



.day1, .day2, .day3, .day4, .day5 {
    margin: 20px 5px;
    width: 150px;
    height: 200px;
    border: 1px solid black;
    background-color: blue;
    color: white;
    font-weight: bold;
    border-radius: 5%;
    text-align: center;
}

.daywrapper {
    display: flex !important;
    flex-direction: row;
    justify-content: space-evenly;
}

header {
    margin-top: 10px;
}

button {
    background-color: blue !important;
    color: white !important;
}

.col-md-4 {
    border: 1px solid black;
}

.col-md-8 {
    border: 1px solid black;
}